table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tbody tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}
.link{
    padding: 15px 0;
}
td.right{
    text-align: right;
}