.star-rating{
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 25px;
    margin: 0;
    position: relative;
    word-wrap: normal;
    width:max-content;
}
.star-rating li{
    padding: 0px;
}
.star-rating-bottom{
    display: flex;
    color: #ddd;
    z-index: 0;
}
.star-rating-top{
    top: 0;
    left: 0;
    display: flex;
    color: #ffd700;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}